services:
  mailserver:
    image: mailhog/mailhog
    ports:
      - "2025:1025"
      - "9025:8025"
    environment:
      MH_AUTH_FILE: /auth/auth.txt
    volumes:
      - ../../script/mailserver:/auth
    networks:
      - reddit10_test_nw
networks:
  reddit10_test_nw:
    external: true
